<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<!-- <head> -->
<!-- <link rel="stylesheet" href="../../static/css/style.css" -->
<!-- 	th:href="@{../css/style.css}"> -->
<!-- <link rel="stylesheet" href="../../static/css/login.css" -->
<!-- 	th:href="@{../css/login.css}">	 -->
<!-- <link rel="stylesheet" -->
<!-- 	th:href="@{../webjars/font-awesome/5.15.2/css/all.css}"> -->
<!-- <link rel="stylesheet" -->
<!-- 	th:href="@{../webjars/bootstrap/4.5.0/css/bootstrap.min.css}"> -->
<!-- 	<link rel="stylesheet" href="../../static/css/course.css" -->
<!-- 	th:href="@{../css/course.css}"> -->
	
<!-- <script th:src="@{/assets/intl-tel-input/js/intlTelInput-jquery.js}"></script> -->
</head>
<body>
	
	<div class="wrapper">
	<div th:replace="../fragments/header::header"></div>
		 <!-- <div class="row">
 -->
		<div th:replace="../fragments/sidebar::sidebar"></div>
		<!-- </div>  -->

		<div layout:fragment="content">
		
		</div>
		
		<div th:replace="../fragments/footer"></div>
		
	</div>


	<!-- <div th:replace="fragments/footer::footer"></div> -->
	
<!-- 	<th:block layout:fragment="script"> -->
<!-- 		<script th:src="@{js/sidebar.js}"></script> -->
<!-- 		<script th:src="@{js/login.js}"></script> -->
<!-- 		<script th:src="@{js/imagepreview.js}"></script> -->
<!-- 		<!-- <script th:src="@{js/phoneNumberInputFormatFile.js}"></script> --> -->
<!-- 		<script th:src="@{js/PhoneNumber.js}"></script> -->
		
<!-- 	</th:block> -->
</body>
</html>